/*
 * Estilos de tu proyecto
 */
 *{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Montserrat', sans-serif;
 }
 .uppercase-text {
   text-transform: uppercase;
 }
 header {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   padding-top: 40px;
   background-color:#1f0f37;
 }
 .header-nav {
   width: 80%;
   margin: auto;
   margin-bottom: 10px;
 }
.header-nav figure {
  width: 60px;
  height: 55px;
  display: inline-block;
  margin-bottom: 10px;
}
.header-nav img {
  max-width: 100%;
}
.login {
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 8px 12px;
  margin-bottom: 25px;
  float:right;
  margin-right: 70px;
}
.header-options {
  float: right;
  list-style: none;
  margin-top: 10px;
  margin-right: 30px;
}
.header-options li {
  float: left;
  margin-right: 45px;
}
header a {
  text-decoration: none;
  color: #fff;
}
main {
  width: 100%;
}

.first-section {
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../assets/images/hero.gif);
}
.div-form {
  width: 40%;
  float: right;
  background-color: #fff;
  margin-top: 115px;
}
.div-form form{
  margin-top: 70px;
  margin-left: 70px;
  margin-bottom: 135px;
}
.div-form form h1 {
  font-size: 45px;
  margin-bottom: 25px;
  color: #352384;
}
.div-form h4 {
  color: #352384;
  margin-bottom: 35px;
}
.div-form input {
  width: 75%;
  font-size: 19px;
  outline: none;
  border: none;
  border-bottom: 1px solid #000;
  padding-bottom: 8px;
  display: block;
  margin-bottom: 45px;
}
.div-form button {
  background-color: #ff00bf;
  border: none;
  border-radius: 5px;
  padding: 15px;
  color: #fff;
  font-size: 15px;
  margin-right: 25px;
  margin-bottom: 30px;
}
.div-form span {
  color: #A9A9F5;
}
.div-form p {
  font-size: 10px;
  color: #A9A9F5;
  margin-bottom: 10px;
}
.div-form p a {
  color: #A9A9F5;
  text-decoration: none;
}
.div-form span a {
  color: #5882FA;
}
.second-section {
  background-color:#5a237f;
  width: 100%;
  color: #fff;
  overflow: auto;
}
.second-section-text {
  padding-top: 100px;px;
  padding-left: 150px;
  display: inline-block;
  width: 50%;
}
 .cartel h3 {
   margin-bottom: 30px;
   font-size: 25px;
 }
 .cartel p {
   margin-bottom: 70px;
 }
 .second-section-image {
   display: inline-block;
   float: right;
   width: 50%;
 }
 .second-section-image figure {
   width: 100%;
   padding: 30px 100px 0 60px;
 }
 .second-section img {
   max-width: 100%;
 }
 .third-section, .four-section, .five-section {
   width: 100%;
   height: 400px;
 }
 .third-section-text, .five-section-text {
   width: 300px;
   margin-top: 50px;
   margin-left: 70px;
   display: inline-block;
 }
 .p1 {
   font-size: 15px;
   margin-bottom: 5px;
 }
 .third-section-text h2 {
  margin-bottom: 15px;
 }
 .p2 {
   font-size: 15px;
 }
 .four-section-text{
  width: 300px;
  padding-top: 50px;
  padding-right:70px;
  display: inline-block;
 }
 .video-rigth {
   float: right;
 }
 .video-left {
   float: left;
 }


 /*CLASES REUTILIZABLES*/
 .color-white {
   color: #fff;
 }
 .color-snow {
   color: #bfc7d9;
 }



   /*CONFIGURANDO FOOTER*/

 footer {
   background-color: #333447;
   width: 100%;
   height: 545px;
   display: inline-block;
 }
 footer a {
   text-decoration: none;
   color: #fff;
 }
 .footer-information {
   overflow: auto;
   width: 100%;
   margin: auto; /*para centrar*/
 }
 footer a:hover {
   text-decoration: underline;
   color: #ff00bf;
 }
 .footer-list {
   overflow: auto;
 }
 .column-footer {
   float: left;
   line-height: 50px;
   margin-right: 130px;
   margin-top: 60px;
   margin-left: 100px;
 }
 .footer-images-list {
   list-style: none;
 }
 .footer-images-list img {
   width: 127px;
   height: 40px;
   margin-top: 36px;
 }
 .final-footer {
   display: block;
   clear: left;
   text-align: center;
 }
 .footer-icon-list {
   margin-top: 20px;
   color: #fff;
   list-style: none;
   display: inline-block;
 }
 .footer-icon-list li {
   text-align: center;
   border: 1px solid #fff;
   display: inline-block;
   padding: 16px;
   height: 50px;
   width: 50px;
   margin:  15px 15px;
   border-radius: 200px 200px 200px 200px;
   -moz-border-radius: 200px 200px 200px 200px;
   -webkit-border-radius: 200px 200px 200px 200px;
 }
 .footer-bottom {
   margin-top: 19px;
   text-align: center;
 }
 .footer-bottom p {
   margin-top: 30px;
 }
 hr {
   width: 764px;
   margin-left: 290px;
 }
